<h1><%= @guest.name %></h1>
<h3>Occupation: <%= @guest.occupation %></h3>

<%= link_to "Create a New Appearance For This Guest", new_appearance_path %><br>
<%= link_to "Return to All Guests", guests_path %>
